<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="./img/weather.png">
    <link rel='stylesheet' href='./css/styles.css'>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This WebApp was created by Yash Singhania.It uses data from MapBox and weatherstack to fetch the weather details.</p>
        <img class='portrait' src='/img/IMG_20191107_133457.jpg'>
    </div>
 
    {{>footer}}
</body>

</html>